/* Стили только для хедера */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-300);

  z-index: 20;
}

.container {
  display: flex;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  max-width: 1280px;
  /*padding: 0 62px;*/
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 45px;
}

.logo {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-light-100);
  line-height: var(--line-height-l);
  cursor: pointer;
}
